section {
  border: solid black 1px;
}

#childNames {
  list-style: none;
}

section {
  display: block;
}

fieldset {
  style: none;
}

button {
  color: #6699ff;
  background-color: #ccffff;
  border-color: #BFB999;
  font-family:'Arial', sans-serif;
  font-weight: bold;
  padding-top: 8px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#add-new-submit:hover {
 cursor: pointer;
 transform: rotateX(360deg);
}
.highlight:hover{
  background-color: #BFB999;
  color: #000D0C;
}

//Layout//
p {
  text-align: center;
  
}
