body {
	width: 960px;
	margin: 0 auto;
	background-color: #B1BEA4;
	font-family: 'Nixie One', cursive;
	font: #282828;
}

figure {
	background-image: url("treesmountains.jpeg");
	padding-top: ;
	text-align: center;

}

section {
  border: #B1BEA4 1px;
}

#childNames {
  list-style: none;
}

section {
  display: block;

}

fieldset {
  background-color: #CED59F;
  width: 500px;
}

h1 {
	text-align: center;
	color: #282828;
}

footer {
	text-align: center;

}

button {
  color: #6699ff;
  background-color: #ccffff;
  border-color: #BFB999;
  font-family:'Arial', sans-serif;
  font-weight: bold;
  padding-top: 8px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#add-new-submit:hover {
 cursor: pointer;
 transform: rotateX(360deg);
}

.highlight:hover{
  background-color: #BFB999;
  color: #000D0C;
}

blockquote {
	float: right;
	width: 275px;
	font-size: 130%;
	font-style: italic;
	font-family: Georgia, Times, serif;
	margin: 0px 0px 10px 10px;
	padding: 10px;
	color: #647168;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;


a {
	padding-bottom: 20px;
	color: blue;
}

legend {
  font-size: 20px;
}

input {
  display: inline-block;
}


#hiddenKids {
  display: none;
  width: 400px;

#firstName {
	padding:5px 5px 5px 30px;
	width: 245px;
}

#lastName {
	padding:5px 5px 5px 30px;
	width: 250px;
}

#middle {
	padding:5px 5px 5px 30px;
	width: 230px;
}

#maiden {
	padding:5px 5px 5px 30px;
	width: 225px;
}

#address1 {
	padding:5px 5px 5px 30px;
	width: 205px;
}

#address2 {
	padding:5px 5px 5px 30px;
	width: 205px;
}

#city {
	padding:5px 5px 5px 30px;
	float:;
	width: 250px;
}

#state {
	padding:5px 5px 5px 30px;
	width: 240px;
}

#zipcode {
	padding:5px 5px 5px 30px;
	width: 220px;
}

#date {
	padding:5px 5px 5px 30px;

}
